doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title HELLO WORLD
    
    //- VENDOR CSS
    link(rel="stylesheet", href="./vendor/css/animate.min.css")
    link(rel="stylesheet", href="./vendor/css/bootstrap.min.css")
    link(rel="stylesheet", href="./vendor/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="./vendor/css/font-awesome.min.css")
    
    //- CUSTOM CSS
    link(rel="stylesheet", href="./dist/css/style.css")
        
  body
    block content
    
    //- VENDOR JS
    script(src="./vendor/js/jquery.min.js")
    script(src="./vendor/js/bootstrap.min.js")
    
    //- CUSTOM JS
    script(src="./dist/js/main.js")
      

  
