extend _layout
include _mixins

block title 
  title Page Title
  
block style
  +bootswatch("flatly")

block content
  include ./partials/_nav
  .container-fluid
    
    h1 Hello World :D  
    
    include ./partials/_footer
