@import "./partials/_fonts.styl"

body
  font-family "Montserrat"
  background white
  color orange

  .nav
    ul
      li
        color rgb(63, 96, 195)

  .footer
    .col-md-6
      font-family "Playfair Display"
      color rgb(38, 215, 93)
